<section id="all-posts">
  <h1 id="blog-title">The Twitcher Blog</h1>
  <button type="submit" class="btn"><a href="/blog/new">Add a Post</a></button>
  {{#if posts.length}}
    {{#each posts as |post|}}
      <div class="row post">
        <div class="col s12 m9 l6 post-container">
          <div class="card post-card">
            <div class="card-content white-text">
              <span class="card-title">{{post.title}}</span>
              <span class="post-author">{{post.user.username}}
                on
                {{format_date post.created_at}}</span>
              <ul class="bird-list">
                <li>
                  Birds spotted:
                  {{post.birds}}
                </li>
              </ul>
              <p>{{post.body}}</p>
            </div>
            <div class="card-action">
              <a href="/blog/{{post.id}}">Read More</a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}
</section>