<section id="all-posts">
  <h1 id="blog-title">The Twitcher Blog</h1>
  <div class="row post">
    <div class="col s12 m9 l6 post-container">
      <div class="card post-card">
        <div class="card-content white-text">
          <span class="card-title">{{post.title}}</span>
          <span class="post-author">{{post.user.username}}
            on
            {{format_date post.createdAt}}</span>
          <ul class="bird-list">
            <li>
              Birds spotted:
              {{post.birds}}
            </li>
          </ul>
          <p>{{post.body}}</p>
        </div>
        <div class="card-action">
          <div class="comments">
            {{#each post.comments as |comment|}}
              <section class="comment">
                <div class="meta">
                  {{user.username}}
                  on
                  {{format_date createdAt}}:
                  {{comment.comment_text}}
                </div>
              </section>
            {{/each}}
          </div>
          <form class="comment-form" id="new-comment-form">
            <div class="comment-textarea">
              <textarea name="comment-body"></textarea>
            </div>
            <div>
              <button type="submit" name="comment-body" class="btn">add comment</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/comment.js"></script>